body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-top: 0;
}

.words-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.japanese-words, .english-words {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.word {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.word.selected {
    background-color: #0056b3;
}

.word.correct {
    background-color: #28a745;
}

.word.incorrect {
    background-color: #dc3545;
}

.resetButton {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resetButton:hover {
    background-color: #0056b3;
}
